<?xml version="1.0" encoding="UTF-8"?>
<!--*-nxml-*-->
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Cockpit Project</vendor>
  <vendor_url>https://www.cockpit-project.org</vendor_url>
  <action id="org.cockpit-project.cockpit.root-bridge">
    <description gettext-domain="cockpit">Administration with Cockpit Web Console</description>
    <description xml:lang="zh_CN">使用 Cockpit 网页控制台管理系统</description>
    <description xml:lang="uk">Адміністрування за допомогою вебконсолі Cockpit</description>
    <description xml:lang="tr">Cockpit Web Konsolu ile Yönetim</description>
    <description xml:lang="sv">Administration med Cockpits webbkonsol</description>
    <description xml:lang="sk">Správa pomocou webovej konzole Cockpit</description>
    <description xml:lang="ru">Администрирование с помощью веб-панели управления Cockpit</description>
    <description xml:lang="pt_BR">Administração com o Console Web do Cockpit</description>
    <description xml:lang="pl">Administracja za pomocą konsoli internetowej Cockpit</description>
    <description xml:lang="nl">Beheer met Cockpit Web Console</description>
    <description xml:lang="nb_NO">Administrasjon med Cockpit Web konsoll</description>
    <description xml:lang="ko">Cockpit 웹 콘솔로 관리</description>
    <description xml:lang="ka">Cockput ვებ კონსოლით ადმინისტრირება</description>
    <description xml:lang="ja">Cockpit Web コンソールでの管理</description>
    <description xml:lang="it">Amministrazione con Cockpit Web Console</description>
    <description xml:lang="he">ניהול עם המסוף המקוון Cockpit</description>
    <description xml:lang="fr">Administration avec la console web de Cockpit</description>
    <description xml:lang="fi">Hallinta Cockpit-verkkokonsolilla</description>
    <description xml:lang="es">Administrando con la consola Web de Cockpit</description>
    <description xml:lang="de">Mit der Cockpit Web Konsole administrieren</description>
    <description xml:lang="cs">Správa pomocí webové konzole Cockpit</description>
    <message gettext-domain="cockpit">Authentication is required to perform privileged tasks with the Cockpit Web Console</message>
    <message xml:lang="zh_CN">通过Cockpit Web Console进行验证后才能执行特权操作</message>
    <message xml:lang="uk">Щоб отримати доступ до виконання привілейованих завдань за допомогою вебконсолі Cockpit, слід пройти розпізнавання</message>
    <message xml:lang="tr">Cockpit Web Konsolu ile yetkili görevleri gerçekleştirmek için kimlik doğrulaması gerekir</message>
    <message xml:lang="sv">Autentisering krävs för att utföra privilegierade uppgifter med Cockpits webbkonsol</message>
    <message xml:lang="ru">Для выполнения привилегированных задач с помощью веб-консоли Cockpit необходима проверка подлинности</message>
    <message xml:lang="pt_BR">Autenticação é necessária para executar ações privilegiadas no Console Web do Cockpit</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby wykonać zadania wymagające uprawnień za pomocą konsoli internetowej Cockpit</message>
    <message xml:lang="nl">Authenticatie is vereist voor het uitvoeren van bevoorrechte taken met de Cockpit Web Console</message>
    <message xml:lang="nb_NO">Autentisering er nødvendig for å utføre privilegerte oppgaver med Cockpit Web konsoll</message>
    <message xml:lang="ko">Cockpit 웹 콘솔의 권한 작업을 수행하려면 인증이 필요합니다</message>
    <message xml:lang="ka">Cockpit ვებ კონსოლში პრივილეგირებული ამოცანების შესასრულებლად საჭიროა ავთენტიკაცია</message>
    <message xml:lang="ja">Cockpit Web コンソールでの特権タスクの実行には、認証が必要です</message>
    <message xml:lang="it">E' necessario autenticarsi per eseguire azioni privilegiate con Cockpit Web Console</message>
    <message xml:lang="he">נדרש אימות כדי לבצע משימות שדורשות השראה עם המסוף המקוון Cockpit</message>
    <message xml:lang="fr">Une authentification est nécessaire pour effectuer les tâches privilégiées dans la console web Cockpit</message>
    <message xml:lang="fi">Todennus vaaditaan etuoikeutettujen tehtävien suorittamiseen Cockpit Web Console:ssa</message>
    <message xml:lang="es">Se requiere autenticación para elevar privilegios y realizar tareas de administración en la consola Web de Cockpit</message>
    <message xml:lang="de">Privilegierte Aktionen der Cockpit Web-Konsole benötigen Berechtigung</message>
    <message xml:lang="cs">Pro provádění privilegovaných úloh pomocí webové konzole Cockpit je třeba ověření totožnosti</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/cockpit-bridge</annotate>
  </action>
</policyconfig>
